{% extends "base.html" %} {% block title %}Αρχική - Κατανομή Φοιτητών ΤΜΠΥΤ ΔΙΠΑΕ{% endblock %}

{% block main %}

<span id="files-success"></span>

<div id="files-form-container">
    <form id="files-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="semesters">
            <select class="form-select" aria-label="Default select example" id="sem" name="sem" required>
                <option value="" disabled {% if not sem %} selected {% endif %}>Εξάμηνο</option>
                <option value="8" {% if sem == "8" %} selected {% endif %}>8</option>
                <option value="9" {% if sem == "9" %} selected {% endif %}>9</option>
            </select>
        </div>

        <div class="container p-0">
            <div class="file-inputs">
                <div class="container mb-3">
                    <div class="input-label">
                        <input class="form-control text-center bg-light" type="text" placeholder="Φοιτητές" readonly>
                        <button type="button" id="students_info" name="students_info" class="btn bi bi-info-circle-fill" data-bs-toggle="popover"
                            data-bs-content="Αρχείο .xlsx ή .xls">
                        </button>
                    </div>
                    <input class="form-control mb-3" type="file" id="students" name="students" accept=".xlsx,.xls"
                        required>
                </div>

                <div class="container mb-3">
                    <div class="input-label">
                        <input class="form-control text-center bg-light" type="text" placeholder="Μαθήματα" readonly>
                        <button type="button" id="courses_info" name="courses_info" class="btn bi bi-info-circle-fill" data-bs-toggle="popover"
                            data-bs-content="Αρχείο .xlsx ή .xls">
                        </button>
                    </div>
                    <input class="form-control mb-3" type="file" id="courses" name="courses" accept=".xlsx,.xls"
                        required>
                </div>

                <div class="container mb-3">
                    <div class="input-label">
                        <input class="form-control text-center bg-light" type="text" placeholder="Επιλογές φοιτητών"
                            readonly>
                        <button type="button" id="students_selections_info" name="students_selections_info" class="btn bi bi-info-circle-fill" data-bs-toggle="popover"
                            data-bs-content="Αρχείο .xlsx ή .xls">
                        </button>
                    </div>
                    <input class="form-control mb-3" type="file" id="students_selections" accept=".xlsx,.xls"
                        name="students_selections" required>
                </div>
            </div>
            <div class="container error">
                <p>{{ error_message }}</p>
            </div>
        </div>

        <div class="container buttons">
            <button class="btn btn-success" type="submit" id="files-submit" name="files-submit">Υποβολή</button>
            <button class="btn btn-danger" type="reset" id="files-reset" name="files-reset">Επαναφορά Όλων</button>
        </div>
    </form>
</div>

{% endblock %}


<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    $(document).on("submit", "#files-form", function(e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'home' %}",
            data: {
                sem: $("#sem").val(),
                students: $("#students").val(),
                courses: $("#courses").val(),
                students_selections: $("#students_selections").val(),
                csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
            },
            success: function(data) {
                $("#files-success").html(data)
                $("#files-form-container").hide();
                $("#allocation-form-container").css("display", "flex");
            }
        })
    })
    document.getElementById("files-reset").addEventListener("click", function() {
        document.getElementById("files-form").reset();
    });
</script>